@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --skyblue-primary: rgb(98, 181, 229);
  --skyblue-light: rgb(147, 207, 240);
  --skyblue-dark: rgb(49, 91, 115);
  --dark-footer: #101010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-skyblue: var(--skyblue-primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #f0f9ff;
  color: var(--foreground);
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}
